<!doctype html>
<html>
  <head>
    <title>Tinify URL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% block content %}{% endblock %}
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>