/* Forket from  */

html {
  font-family: arial;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

a {
  color: #377ba8;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  color: #377ba8;
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}
